/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


/* ===== GENERAL STYLES ===== */

* {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
}

.main,
.content,
.footer-fixed,
.topnav {
  width: 95%;
	margin: auto;
}



/* ===== BODY ===== */

body, html {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}



/* ===== MUSHROOM ====== */

/* mobile display */

.content {
	margin: 3.5rem auto 2vw auto;
}


.mushroom,
.product,
.recipe {
  margin: auto;
  padding: 1rem;
	text-align: center;
}

.mushroom,
.recipe {
	background-color: hsla(0, 0%, 95%, 1);
}


/* full display */

@media only screen and (min-width:600px) {
	.content {
	 	
	}
	
  .mushroom,
	.product,
	.recipe {
    float: left;
    width: 33.33%;
    padding: 1.5rem;
    margin: 0;
  }
}


/* rest */

.question {
	margin-top: 1.25rem;
}

.answer {
	margin-top: 0.5rem;
	margin-left: 8px;
	text-indent: 0.5rem;
}

.answer a {
  text-decoration: none;
  color: hsla(0, 0%, 45%, 1);
}

.answer a:hover {
  color: hsla(210, 90%, 65%, 1);
  transition: color .15s ease-in-out;
}

.recipe-header {
	margin-bottom: 0.5rem;
}

.recipe-text {
	margin-bottom: 0.25rem;
}


/* ===== INDEX ====== */

/* mobile display */

.main{
	overflow:auto;
	margin: 9vw auto 2vw auto;
}

.img-cntr {
  width: 100%;
  padding: .5rem;
  margin: auto;
}

.img-mushroom {
  width: 100%;
  border-radius: 2%;
  padding: 0px;
  /* background-color: #1E90FF; */
	background-color:  cyan;
	box-shadow: hsla(0, 0%, 0%, .8) 0px 0px 6px;
  transition: all 0.3s ease-in-out;
  filter: grayscale(20%);
}

.img-mushroom:hover {
  transform: scale(1.02);
	padding: 1px;
  filter: grayscale(0%);
}

/* full display */
@media only screen and (min-width:600px) {
  .img-cntr {
    float: left;
    width: 30%;
    padding: 0;
    margin: .5rem;
  }
}

/* ===== GREETINGS ====== */

.txt-greetings {
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: hsla(0, 0%, 95%, 1);
  
	font-weight: bold;
  font-size: 1.6rem;
	text-align: center;
	letter-spacing: 0.1rem;
	font-variant: small-caps;
  
	/*border: 10px solid hsla(0, 0%, 95%, 1);*/
	border-radius: 5px;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  width: 65%;
  padding: 20px;
	transform: translate(-50%, -50%);
  z-index: 2;
}

@media only screen and (min-width: 600px) {
	.txt-greetings {
		font-size: 4rem;
	}
}


/* ===== TOPNAV ===== */

.topnav {
  background-color: hsla(210, 90%, 40%, 1);
  overflow: hidden;
	position: fixed;
	top: 0;
	margin: auto;
	width: 100%;
	z-index: 3;
}

.topnav a {
  float: left;
  display: block;
  color: hsla(0, 0%, 95%, 1);
  
	margin-bottom: 0;
  padding: 14px 16px;
	
  text-decoration: none;
  font-size: 0.9rem;
	text-align: center;
}

.topnav a:hover {
  background-color: hsla(210, 90%, 65%, 1);
	transition: color .3s ease-in-out;
}

.topnav a.active {
  background-color: hsla(210, 90%, 55%, 1);
  color: white;
}

.topnav a.lang {
  color: hsla(210, 90%, 80%, 1);
	float:right;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive a.icon {
    position: fixed;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* ==== FOOTER ==== */

.footer-fixed {
	position: relative; bottom: 0; width:100%;
  /* position: fixed; bottom: 0px; width: 100%; */
	
  background-color: hsla(210, 90%, 40%, 1);
	color: hsla(0, 0%, 95%, 1);
  
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 14px;
  
	font-size: .8rem;
  text-align: center;
}

.contact-links a {
	text-decoration: none;
	color: lightcyan;
	transition: all 0.3s ease-in-out;
}

.contact-links a:hover {
	color: cyan;
}

ul {
  list-style-type: none;
}

li {
  display:block;
	margin-bottom: .25rem;
}

/* full screen */
@media only screen and (min-width: 600px) {
  .footer-fixed{
    position: fixed; bottom: 0px; width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 14px;
    font-size: 1rem;
  }
	li {
    display: inline;
	}
}